body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    color:white;
    margin: 0;  
    padding: 0;
    text-align: center;
    background-image: url("img/fire.webp");
}

header {
    background-color: #232f3e;  
    color: white;
    text-align: center;
    padding: 10px 0;
}

header nav {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;    
    margin: 0 15px; 
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline; 
}

#account-info{
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
    border: 3px white solid;
    border-radius: 5px;
    width:30%;
}


