header {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}


body {
    font-family: 'Amazon Ember', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;  
    padding: 0;
}

#elementi {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

#prodotto {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s ease-in-out;
}

#prodotto:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

#titolo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

#prezzo {
    font-size: 16px;
    font-weight: bold;
    color: #f60;
    margin: 10px 0;
}

#atc {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
}

#atc:hover {
    background-color: #e68900;
}




