#contenitore {
    margin: auto;
    position: relative;
    top: 2rem;
}

header {
    background-color: #001d3d;
    color: #FFF;
    text-align: center;
    padding: 10px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#spallaSx, #centro, #spallaDx {
    float: left;
    color: #FFF;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 30rem;
    text-align: center;
    margin-top: 0.5rem;
}

#spallaSx {
    background-color: #ffc300;
    width: 10%;
}

#centro {
    background-color: #8ac926;
    width: 80%;
}

#spallaDx {
    background-color: #ffc300;
    width: 10%;
}

footer {
    text-align:center;
    font-size: 40px;
    background-color: #001d3d;
    margin-top: 30rem;
    color: #FFF;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    height: 10rem;
}

