body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #89b63b;
}



h1 {
    color: #ffffff;
    margin:auto;
    width: fit-content;
}

input{
    margin-left: 45%;
    width: fit-content;
}

table {
    margin:auto;
    width: 50%;
    border-collapse: collapse;
    margin-top: 30px;
    border: 1px solid rgb(255, 255, 255); 
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid black;
}

th {
    background-color: #fdf0d5;
}

tr:nth-child(odd) {
    background-color: #ff9505;
}

tr:nth-child(even) {
    background-color: #ffc971;
}

#myCanvas{
    margin-left:27%;
    margin-top: 5rem;
}

