#campo{
    float:left;
    border:2px solid rgb(0,0,0);
    border-radius: 5px;
    padding:5px;
    background-color: rgb(185, 185, 185);
}
#campo input{
    background-color:gray;
}
table{
    margin: auto;
    border-collapse:collapse;
    background-color: rgb(185, 185, 185);
}
table th,tr,td{
    border:2px solid rgb(0,0,0);
    width:10%;
    padding:0.5rem;
}
#invio{
    margin-top:0.5rem;
    background-color:rgb(255, 255, 255);
    padding:0.2rem;
}